title: "Accelerated Visualization"
description: "Interactive visualization session with GPU acceleration"

attributes:
  csc_extra_desc:
    desc: |
      <a href="https://docs.csc.fi/computing/webinterface/accelerated-visualization/" target="_blank">Documentation</a>
  csc_slurm_partition:
    select:
      - "gpu"
      - "gputest"
