attributes:
  csc_slurm_partition:
    value: interactive
    select:
      - ["interactive"]
      - ["small"]
      - ["small-g"]
      - ["largemem"]
      - "lumid"
      - ["dev-g"]
      - ["debug"]
      - "q_industry"
  desktop:
    widget: select
    cacheable: false
    options:
      - ["xfce", "xfce"]
    value: "xfce"
    fixed: true
  csc_cores:
    value: 2
  csc_memory:
    value: 2
  csc_reset_cache:
    app: "sys/ood-vnc"
  csc_extra_desc:
    desc: |
      <a href="https://docs.lumi-supercomputer.eu/runjobs/webui/desktop/" target="_blank">Documentation</a>

form:
  - csc_extra_desc
  - csc_slurm_reservation
  - csc_slurm_project
  - csc_slurm_partition
  - csc_header_resources
  - csc_cores
  - csc_memory
  - csc_nvme
  - csc_time
  - desktop
  - csc_reset_cache
  - csc_slurm_limits
