attributes:
  csc_slurm_partition:
    value: interactive
    select:
      - ["interactive", data-hide-app: true]
      - ["small", data-hide-app: true]
      - ["small-g", data-hide-app: true]
      - ["largemem", data-hide-app: true]
      - "lumid"
      - ["dev-g", data-hide-app: true]
      - ["debug", data-hide-app: true]
  csc_slurm_reservation:
    partitions:
      - "interactive"
      - "small"
      - "small-g"
      - "largemem"
      - "lumid"
      - "dev-g"
      - "debug"
  desktop:
    widget: select
    cacheable: false
    options:
      - ["xfce", "xfce"]
    value: "xfce"
    fixed: true
  app:
    widget: select
    options:
      - ["None", ""]
      - [
          "Blender",
          "blender",
          data-option-for-csc-slurm-partition-interactive: false,
          data-option-for-csc-slurm-partition-small: false,
          data-option-for-csc-slurm-partition-small-g: false,
          data-option-for-csc-slurm-partition-largemem: false,
          data-option-for-csc-slurm-partition-dev-g: false,
          data-option-for-csc-slurm-partition-debug: false
        ]
      - [
          "ParaView",
          "paraview",
          data-option-for-csc-slurm-partition-interactive: false,
          data-option-for-csc-slurm-partition-small: false,
          data-option-for-csc-slurm-partition-small-g: false,
          data-option-for-csc-slurm-partition-largemem: false,
          data-option-for-csc-slurm-partition-dev-g: false,
          data-option-for-csc-slurm-partition-debug: false
        ]
    value: ""
  csc_cores:
    value: 2
  csc_memory:
    value: 2
  csc_reset_cache:
    app: "sys/ood-vnc"
  csc_extra_desc:
    desc: |
      <a href="https://docs.csc.fi/computing/webinterface/desktop/" target="_blank">Documentation</a>

form:
  - csc_extra_desc
  - csc_slurm_reservation
  - csc_slurm_project
  - csc_slurm_partition
  - csc_header_resources
  - csc_cores
  - csc_memory
  - csc_nvme
  - csc_time
  - csc_header_settings
  - desktop
  - app
  - bc_email_on_started
  - csc_reset_cache
  - csc_slurm_limits
