[Desktop Entry]
Type=Application
Name=Abaqus CAE (Accelerated)
Terminal=true
Exec=singularity run --nv /appl/opt/ood/$SLURM_OOD_ENV/vnc_images/abaqus.sif
TryExec=/ENABLE_VGL_APPS
Icon=abaqus
