[Desktop Entry]
Type=Application
Name=Ansys Workbench (Accelerated)
Categories=X-CSC;X-CompEng
Terminal=true
Exec=/appl/opt/ood/$SLURM_OOD_ENV/soft/verify_gpu.sh && singularity run --nv /appl/opt/ood/$SLURM_OOD_ENV/vnc_images/ansys.sif
TryExec=/appl/soft/eng/ansys_inc/v232/Framework/bin/Linux64/runwb2
Icon=ansys
