[Desktop Entry]
Type=Application
Name=Blender
Terminal=true
Exec=bash -c "singularity run --nv /appl/local/ood/$SLURM_OOD_ENV/container_images/blender.sif"
TryExec=/ENABLE_VGL_APPS
# Icon should be in /appl/local/ood/<env>/share/icons/hicolor/{48x48,scalable}/apps
Icon=blender

