[Desktop Entry]
Type=Application
Name=CloudCompare (Accelerated)
Terminal=true
Exec=singularity run --nv /appl/opt/ood/$SLURM_OOD_ENV/vnc_images/cloudcompare.sif
TryExec=/ENABLE_VGL_APPS
Icon=cloudcompare
