[Desktop Entry]
Type=Application
Name=CloudCompare (Accelerated)
Categories=X-CSC;Geoscience
Terminal=true
Exec=bash -c "/appl/opt/ood/$SLURM_OOD_ENV/soft/verify_gpu.sh && singularity run --nv /appl/opt/ood/$SLURM_OOD_ENV/vnc_images/cloudcompare.sif"
Icon=cloudcompare
