[Desktop Entry]
Type=Application
Name=COMSOL (Accelerated)
Terminal=true
Exec=singularity run --nv /appl/opt/ood/$SLURM_OOD_ENV/vnc_images/comsol.sif
TryExec=/ENABLE_VGL_APPS
Icon=comsol
