[Desktop Entry]
Type=Application
Name=GRASS GIS
Terminal=true
Exec=module load qgis;grass
# /appl/opt/ood/<env>/share/icons/hicolor/{48x48,scalable}/apps
Icon=grass
