[Desktop Entry]
Type=Application
Name=GRASS GIS
Categories=X-CSC;Geoscience
Terminal=true
Exec=bash -c "/appl/opt/ood/$SLURM_OOD_ENV/soft/verify_nogpu.sh && module load grassgis && grass"
Icon=grass
