[Desktop Entry]
Type=Application
Name=Maestro
Categories=X-CSC;X-Biosciences
Terminal=true
Exec=bash -c "/appl/opt/ood/$SLURM_OOD_ENV/soft/verify_nogpu.sh && module load maestro && maestro"
Icon=maestro
