[Desktop Entry]
Type=Application
Name=Maestro
Terminal=true
Exec=module load maestro;maestro
# Icon should be in /appl/opt/ood/<env>/share/icons/hicolor/{48x48,scalable}/apps
Icon=maestro
