[Desktop Entry]
Type=Application
Name=MATLAB
Categories=X-CSC;X-MathStats
Terminal=true
Exec=bash -c "/appl/opt/ood/$SLURM_OOD_ENV/soft/verify_nogpu.sh && module load matlab && matlab"
Icon=matlab
