[Desktop Entry]
Type=Application
Name=Paraview 5.9
Terminal=true
Exec=bash -c "singularity run --nv /appl/local/ood/$SLURM_OOD_ENV/container_images/paraview_5.9.sif"
TryExec=/ENABLE_VGL_APPS
# Icon should be in /appl/local/ood/<env>/share/icons/hicolor/{48x48,scalable}/apps
Icon=paraview

