[Desktop Entry]
Type=Application
Name=ParaView (Accelerated)
Terminal=true
Exec=singularity run --nv /appl/opt/ood/$SLURM_OOD_ENV/vnc_images/paraview.sif
TryExec=/ENABLE_VGL_APPS
Icon=paraview
