[Desktop Entry]
Type=Application
Name=Paraview
Terminal=true
Exec=bash -c "/appl/local/ood/$SLURM_OOD_ENV/container_images/paraview.sif"
TryExec=nvidia-smi
# Icon should be in /appl/local/ood/<env>/share/icons/hicolor/{48x48,scalable}/apps
Icon=paraview

