[Desktop Entry]
Type=Application
Name=QGIS
Categories=X-CSC;Geoscience
Terminal=true
Exec=bash -c "/appl/opt/ood/$SLURM_OOD_ENV/soft/verify_nogpu.sh && module load qgis && qgis"
Icon=qgis
