[Desktop Entry]
Type=Application
Name=VisIt (Accelerated)
Terminal=true
Exec=singularity run --nv /appl/opt/ood/$SLURM_OOD_ENV/vnc_images/visit.sif
TryExec=/ENABLE_VGL_APPS
Icon=visit
