[Desktop Entry]
Type=Application
Name=VMD (Accelerated)
Categories=X-CSC;X-Biosciences
Terminal=true
Exec=singularity run --nv /appl/opt/ood/$SLURM_OOD_ENV/vnc_images/vmd.sif
TryExec=/ENABLE_VGL_APPS
Icon=vmd
